<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Event Registration</title>
</head>

<body style="background-color: rgb(243, 201, 85);">
    <div class="jumbotron text-center" style="background-color: rgb(243, 201, 85);">
        <h1 class="display-4">Workshop on IOT</h1>
        <p class="lead">Join with us!!!</p>
        <hr class="my-4 text-right">
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>
    <div class="container">
        <div class="row">
            <div class="card bg-dark text-white col-lg-12">
                <h5 class=" card-text display-4 font-weight-bold">One day workshop on Internet of Things</h5>
            </div>
        </div>
    </div>
    <div>
        <div class="container" style="background-color: rgb(221, 172, 37);">
            <div class="row">
                <p><strong>Not only are we looking forward to being back in person for IoT World 2021, but after the
                        huge success in attracting international attendees from 94 countries to IoT World Virtual in
                        August 2020, the 2021 event will now also leverage the capabilities of reaching a global
                        audience by being a hybrid event. We will now be able to connect the in-person North American
                        audience, to the online global audience at IoT World, for the very first time. As a result, the
                        previous IoT World Europe, IoT World Asia, IoT World China and IoT World Africa will now be held
                        virtually, during IoT World, creating a global festival of IoT innovation.</strong></p>
                        <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="static/img/i.jpg/" alt="Card image cap">
  <div class="card-body">
  </div>
</div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <a class="btn btn-info btn-lg text center" href="/register/" role="button">Register</a>
    </div>
    <div class="card bg-dark text-white col-lg-12">
        <div class="card-img-overlay text-center">
            <p><strong>Designed by Durgadevi</strong></p>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>